.form-field {
    max-width: 100%; /* Allow full width of the cell */
    box-sizing: border-box;
    padding: 4px; /* Reduce padding */
    margin: 0; /* Remove auto margin */
}

.form-error {
    font-size: 0.8rem; /* Smaller font size for error messages */
    color: #d32f2f; /* Error color */
    padding-top: 2px; /* Adjusted spacing for error messages */
    text-align: left; /* Align error message left */
}