/* General spacing conventions
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    /* Reseting the default browser spacings and adding the property so that 
    height and width would count with padding instead of it being seperate */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Setting the percentage of default user browser font size from 16px to 10px */
  font-size: 62.5%;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
}
